<% provide(:title, @user.name) %>
<div class="row white">
  <aside class="col-md-4">
    <section class="user_info col-md-12">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats col-md-12">
      <%= render 'shared/stats' %>
    </section>
    <section class="lv col-md-12 col-sm-12">
      <b>職業：<%= @profession %></b>
      <% if @star > 0 %>
        <p><i class="fas fa-star orange"></i>  x  <%= @star %></p>
      <% end %>
      <p>Lv: <%= @lv %></p>
      <p>Ex: <%= @ex %> / 100 </p>
      <progress value="<%= @ex %>" max="100"></progress>
      <% if @user.profession.profession ==0 %>
        <%= image_tag 'sword.jpg',class: "profession-image" %>
      <% elsif  @user.profession.profession ==1 %>
        <%= image_tag 'wizard.jpg',class: "profession-image"  %>
      <% else %>
        <%= image_tag 'archer.jpg',class: "profession-image"  %>
      <% end %>
    </section>



  </aside> 
  <div class="col-md-8">
    <%= column_chart @data_lv,xtitle: "職業",ytitle: "レベル", colors: ["#00CCFF", "#CCCCFF","#66FFCC"] %>
  </div>


  <div class="col-md-12">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>   
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>
